<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menus>
<menu label="Entities" name="menu0_Entities">
<submenu activate="state_st" label="State" panel-type="standard-panel"/>
<menu label="Price Lists" name="menu1_Price_Lists">
<submenu activate="pricelist_st" label="Price List" panel-type="standard-panel"/>
<menu label="Products" name="menu2_Products">
<submenu activate="category_st" label="Category" panel-type="standard-panel"/>
</menu>
</menu>
</menu>
<menu label="Orders" name="menu1_Orders">
<submenu activate="order_st" label="Order" panel-type="standard-panel"/>
</menu>
</menus>
