#                                     Global excludes
#####################################################
*.class
**/.metadata
**/build
**/bin
**/dist
**/nbproject
.settings/
.svn/
#                             KrokiMockupTool exludes
######################################################
KrokiMockupTool/Temp/
kroki.h2.db
kroki.lock.db

#                      Applicaiton repository excludes
######################################################
ApplicationRepository/generated/*.xml
ApplicationRepository/generated/db_config/*.xml
ApplicationRepository/generated/model/*.xml
ApplicationRepository/generated/model/ejb/*.xml
ApplicationRepository/generated/model/panel*.xml
ApplicationRepository/generated/model/users/*.xml
ApplicationRepository/generated/props/*.properties

#                                       WebApp excludes
#######################################################
WebApp/bin/
WebApp/etc/META-INF/persistence.xml
WebApp/src/adapt/entities/generated
!WebApp/config
WebApp/config/*
!WebApp/config/actions.xml
!WebApp/config/forms.xml
!WebApp/config/resources.xml
WebApp/src/config/resources-generated.xml
WebApp/src/adapt/templates/menu.html
WebApp/props/app.properties
WebApp/src/ejb_generated
WebApp/src/ejb_generated/*
#                                    SwingApp excludes
######################################################
SwingApp/bin/
SwingApp/props/META-INF/persistence.xml
SwingApp/src/hibernate.cfg.xml
SwingApp/src/ejb/
SwingApp/model/xml-mapping.xml
SwingApp/model/panel.xml
SwingApp/model/panel-map.xml
SwingApp/model/panel-map.xml
SwingApp/model/enumeration.xml
SwingApp/model/ejb/
SwingApp/ddl_createDatabase.sql
SwingApp/props/main-generated.properties

# ignore generated but skip default enumerations
!SwingApp/src/com/panelcomposer/enumerations
SwingApp/src/com/panelcomposer/enumerations/*
!SwingApp/src/com/panelcomposer/enumerations/OpenedAs.java
!SwingApp/src/com/panelcomposer/enumerations/OperationType.java
!SwingApp/src/com/panelcomposer/enumerations/PanelType.java
!SwingApp/src/com/panelcomposer/enumerations/StateMode.java
!SwingApp/src/com/panelcomposer/enumerations/ViewMode.java
SwingApp/ddl_createDatabase.sql
SwingApp/src/panelcomposer/enumerations/
SwingApp/model/menu.xml
SwingApp/model/panel/
ApplicationRepository/generated/model/panel/panel-map.xml
ApplicationRepository/generated/model/panel/panel.xml
ApplicationRepository/generated/model/users/.gitkeep
ApplicationRepository/generated/model/users/.gitkeep
WebApp/.classpath
WebApp/src/ejb_generated/*.java
WebApp/src_gen/ejb_generated/Automobil.java