<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menus>
<menu label="Teritorijalna organizacija" name="menu0">
<submenu activate="naseljenomesto_st" label="Naseljeno mesto" panel-type="standard-panel"/>
<submenu activate="RadnikNaseljenoMesto_pc" label="Radnik-Naseljeno mesto" panel-type="parent-child"/>
</menu>
<menu label="Resursi" name="menu1">
<submenu activate="radnik_st" label="Radnik" panel-type="standard-panel"/>
</menu>
</menus>
