<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menus>
<menu label="Fakture" name="menu0_Fakture">
<submenu activate="fakture_st" label="Fakture" panel-type="standard-panel"/>
</menu>
<menu label="Klijenti" name="menu1_Klijenti">
<menu label="Klijent" name="menu2_Klijent">
<submenu activate="fizickalica_st" label="Fizicka lica" panel-type="standard-panel"/>
</menu>
</menu>
</menus>
