<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ul id="mainMenu">
    <li class="mainMenuItems">
        <div class="menu">
            <div class="mainMenuText">Business entites</div>
            <div class="arrow-down">/</div>
        </div>
        <ul class="L1SubMenu">
            <li class="subMenuItem" data-activate="/resources/Customer" data-panelType="standard-panel">Customer</li>
            <li class="subMenuItem" data-activate="/resources/State" data-panelType="standard-panel">State</li>
        </ul>
    </li>
    <li class="mainMenuItems">
        <div class="menu">
            <div class="mainMenuText">Price lists</div>
            <div class="arrow-down">/</div>
        </div>
        <ul class="L1SubMenu">
            <li class="subMenuItem" data-activate="/resources/Products" data-panelType="standard-panel">Products</li>
        </ul>
    </li>
</ul>
