<html>
	<head>
		<title> ${title}::add page for ${resource.label} </title>
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/files/style.css" type="text/css" />
		<link rel="stylesheet" href="/files/simpletree.css" type="text/css" />
		<script type="text/javascript" src="/files/simpletreemenu.js"></script>
		</script>
	</head>
	<body>
		<div id="wrapper" >
		<#if user??>
			<div id="menu">
				<#include "/treemenuGenerated.html" parse=true>
			</div>
			<script>highlight();</script>
			<div id="content">
				<div id="leftpane">
				<#if mtm??>
					<#if resource??>
					<h1>Adding to table ${resObj.name}</h1>
					<#if msg??>
					<p style="color:red">${msg}</p>
					</#if>
					<form action="/mtmdodaj/${resource.name}/${resObj.id}/${chresource.name}" name="dodavanje" method="post">
						<table align="center">
							<tbody>
								<tr>
									<td><b>${resource.label}:</b></td>
									<td>${resObj.name}</td>
								</tr>
								<tr>
									<td><b>${chresource.label}:</b></td>
									<td>
									<select name="mtmSelect${chresource.name}">
									<#list childern as child>
										<option value="${child.properties[0].value}">${child.properties[1].value}</option>
									</#list>
									</select>
									</td>
								</tr>
								<tr>
									<td align="right" colspan="2"><input type="submit" name="submit" value="Add"></td>
								</tr>
							</tbody>
						</table>
					</form>
					<div>
						<h2>Ve&#263; u ${resObj.name}:</h2>
						<#if childFormHeaders??>
						<#if childFormHeaders?has_content>
						<table class="tables" align='center' id='datatable'> 
							<thead>
								<tr>
								<#list childFormHeaders as header>
									<th>${header}</th>
								</#list>
								</tr>
							</thead>
							<tbody>
								<#list mtmchildEntities as entity>
								<tr>
									<#list entity.properties as prop>
										<td class="concell">${prop.value}</td>
									</#list>
								</tr>
								</#list>
							</tbody>
						</table>
						</#if>
						</#if>
					</div>
					</#if>
				<#else>
					<#if resource??>
					<h1>Adding to table ${resource.label}</h1>
					<#if msg??>
					<p style="color:red">${msg}</p>
					</#if>
					<p>
							<form action="/dodaj${resource.link}" name="dodavanje" method="post">
								<table align="center">
									<tbody>
										<#list resource.attributes as attr>
										<tr>
											<td><b>${attr.label}:</b></td>
											<#if attr.type == "java.lang.Boolean">
											<td>
												<select name="attrSelect${attr.name}">
													<option value="true">YES</option>
													<option value="false">NO</option>
												</select>
											</td>
											<#elseif attr.name == "password">
											<td><input type="password" name="attr${attr.name}Dodavanje"></td>
											<#elseif attr.type == "java.util.Date">
											<td><input type="text" name="attr${attr.name}Dodavanje"></td>
											<td><font size="2" color="blue">Format: dd.MM.yyyy.</font> </td>
											<#else>
											<td><input type="text" name="attr${attr.name}Dodavanje"></td>
											</#if>
										</tr>
										</#list>
										<#if childFormMap??>
										<#list childFormMap?keys as childRow>
										<tr>
											<td><b>${childRow}:</b></td>
											<td>
												<select name="mattrSelect${childFormMap?keys?seq_index_of(childRow)}">
												<#list childFormMap[childRow]?keys as id>
													<option value="${id}">${childFormMap[childRow][id]}</option>
												</#list>
												</select>
											</td>
										</tr>
										</#list>
										</#if>
										<tr>
											<td align="right" colspan="2"><input type="submit" name="submit" value="Add"></td>
										</tr>
									</tbody>
								</table>
							</form>
					</p>
				</#if>
				</#if>
				</div>
					<div id="rightpane">
						<#include "/rightpane.html" parse=true>
					</div>
			</div>
			<div id="footer">
				<img src="/files/images/logo.png" >
			</div>
		<#else>
			<p style="color:red"> You are not logged in! </p>
		</#if>
		</div>
	</body>
</html>