					<!----------------------------------PARENT-CHILD FORM------------------------------------------->
					<p>
					<#if childList??>
					<#if childList?has_content>
						<form align='center' action="/showChildern/${resource.name}" name="childform" method="post">
							Show 
							<select name="childern">
							    <#list childList as child>
							    <option value="${child.name}">${child.label}</option>
							    </#list>
							</select>
							for
							<select name="selectChild">
							<#if childMap??>
								<#list childMap?keys as id>
								<option value="${id}">${childMap[id]}</option>
								</#list>
							</#if>
							</select>
							<input type="submit" value="Show" />
						</form>
					</#if>
					</#if>
					<table style="position: relative; left: 180px">
					<tr>
						<#if childControls?has_content>
						<#if form.allowControls?string == "true">
						<#list childControls as control>
						<td><a title="${control.tip}" href="${control.link}${resource.name}"><img width ="20px" height="20px" src="${control.imagePath}" ></a></td>
						</#list>
						</#if>
						</#if>
					</tr>
					</table>
					<#if childEntities??>
					<#if childEntities?has_content>
					<table class="tables" align='center' id='childTable'> 
						<thead>
							<tr>
							<#list childFormHeaders as header>
								<th>${header}</th>
							</#list>
							</tr>
						</thead>
						<tbody>
							<#list childEntities as entity>
							<tr>
								<#list entity.properties as prop>
									<#if prop.name == "id">
									<td class="concell" style="display:none;">${prop.value}</td>
									<#else>
									<td class="concell">${prop.value}</td>
									</#if>
								</#list>
								<#if childActions?has_content>
								<#if form.allowActions?string == "true">
									<td  class="actcell">
								<#list childActions as action>
								 	<a title="${action.tip}" href="${action.link}${childResource.name}/${entity.properties?first.value}"><img src="${action.imagePath}"></a>
								</#list>
									</td>
								</#if>
								</#if>
							</tr>
							</#list>
						</tbody>
					</table>
					</#if>
					</#if>
					</p>
					<!----------------------------------/PARENT-CHILD FORM------------------------------------------->