				<!------------------------------------ ${resource.name} Standard form ------------------------------------------>
						<h1 class="formTitle">${resource.label}</h1>
						<!--  TABLE DIV -->
						<div class="tableDiv" <#if resource.operations??><#if resource.operations?has_content>style="width: 75%; border-right: 1px solid black;"</#if></#if>>
							<!-- FORM TOOLBAR -->
							<div class="formToolbar">
								<div id="viewControls" class="controlsPanel">
									<button type="button" id="btnRefresh" title="Refresh data">
										<img class="toolbarButton" src="/files/images/icons-white/refresh.png"/>
									</button>
								</div>
								<!-- VIEW CONTROLS -->
								<div id="navigationControls" class="controlsPanel">
									<button type="button" id="btnFirst" title="Go to the first row in table">
										<img class="toolbarButton" src="/files/images/icons-white/first.png"/>
									</button>
									<button type="button" id="btnPrev" title="Go to the previous row" disabled>
										<img class="toolbarButton" src="/files/images/icons-white/prev.png"/>
									</button>
									<button type="button" id="btnNext" title="Go to the next row" disabled>
										<img class="toolbarButton" src="/files/images/icons-white/next.png"/>
									</button>
									<button type="button" id="btnLast" title="Go to the last row in table">
										<img class="toolbarButton" src="/files/images/icons-white/last.png">
									</button>
								</div>
								<!-- NAVIGATION CONTROLS -->
								<div id="tableControls" class="controlsPanel">
									<button type="button" id="btnAdd" title="Add new entity" >
										<img class="toolbarButton" src="/files/images/icons-white/add.png"/>
									</button>
									<button type="button" id="btnSwitch" title="Modify entity" >
										<img class="toolbarButton" src="/files/images/icons-white/swich.png"/>
									</button>
									<button type="button" id="btnDelete" title="Delete entity"  disabled>
										<img class="toolbarButton" src="/files/images/icons-white/delete.png"/>
									</button>
									<button type="button" id="btnNextForms" title="View connected forms" disabled>
										<img class="toolbarButton" src="/files/images/icons-white/next-forms.png"/>
									</button>
								</div>
								<!-- TABLE CONTROLS -->
							</div>
							<!-- /FORM TOOLBAR -->
							<!-- TABLE PANEL -->
							<div class="tablePanel">
								<#if mainFormHeaders??>
								<#if mainFormHeaders?has_content>
								<div class="theadFixator">
								</div>
								<table class="mainTable" cellspacing=0>
									<thead>
										<tr>
											<#list mainFormHeaders as header>
												<th>
												<span>${header}</span>
												<div class="innerTHDiv">${header}</div>
												</th>
											</#list>
										</tr>
									</thead>
										<tbody>
											<#if entities??>
												<#if entities?has_content>
												<#list entities as entity>
													<tr>
														<#list entity.properties as prop>
															<#if prop.name == "id">
															<td id="idCell" style="display:none;">${prop.value}</td>
															<#else>
															<td title="${prop.value}">${prop.value}</td>
															</#if>
														</#list>
													</tr>
													</#list>
												</#if>
											<#else>
												<tr></tr>
											</#if>
										</tbody>
									</#if>
									</#if>
								</table>
							</div>
							<!-- /TABLE PANEL -->
						</div>
						<!-- /TABLE DIV -->
						<!--  OPERATIONS DIV -->
						<#if resource.operations??>
						<#if resource.operations?has_content>
						<div class="operationsDiv">
							<#list resource.operations as operation>
								<div class="operationButton">
									<button class="buttons-blue" data-confirmLink="justClose" data-confirmText="Not implemented jet!" data-operation>${operation.label}</button>
								</div>
							</#list>
						</div>
						</#if>
						</#if>
						<!-- /OPERATIONS DIV -->
						<form class="inputForm" action="/add${resource.link}" name="addForm" method="post">
							<div class="formTableContainer">
								<table class="inputFormFields">
								<#list resource.attributes as attr>
								<tr>
									<td class="labelColumn">${attr.label}:</td>
									<#if attr.values??>
									<td class="inputColumn">
										<select class="stdFormInputs" name="attrSelectCombo${attr_index}">
										<#list attr.values as value>
											<option value="${value}">${value}</option>
										</#list>
										</select>
									</td>
								<#else>
									<#if attr.type == "java.lang.Boolean">
									<td class="inputColumn" style="float: left;">
										<input class="stdFormInputs" type="checkbox" name="attrSelectBool${attr.name}" value="true">
										<input type="hidden" name="attrSelectBool${attr.name}" value="false">
									</td>
									<#elseif attr.name == "password">
									<td class="inputColumn" >
										<input class="stdFormInputs" type="password" name="attr${attr.name}Dodavanje">
									</td>
									<#elseif attr.type == "java.util.Date">
									<td class="inputColumn" >
										<input class="stdFormInputs datepicker" type="text" name="attr${attr.name}Dodavanje" autocomplete="off">
									</td>
									<#elseif attr.type?ends_with("TextArea")>
									<td class="inputColumn">
									<textarea class="stdFormInputs"  rows="4" name="attr${attr.name}Dodavanje"></textarea>
									</td>
									<#else>
									<td class="inputColumn">
										<input class="stdFormInputs" type="text" name="attr${attr.name}Dodavanje">
									</td>
									</#if>
								</#if>
								</tr>
								</#list>
								<#if childFormMap??>
								<#list childFormMap?keys as childRow>
								<tr>
									<td class="labelColumn">${childRow}:</td>
									<td class="inputColumn" style="float: left;">
										<select class="stdFormInputs" name="mattrSelect${childFormMap?keys?seq_index_of(childRow)}">
										<#list childFormMap[childRow]?keys as id>
											<option value="${id}" <#if pid??><#if id == pid>selected</#if></#if>>${childFormMap[childRow][id]}</option>
										</#list>
										</select>
									</td>
								</tr>
								</#list>
								</#if>
								</table>
							</div>
							<!-- INPUT FORM FIELDS -->
							<div class="inputFormButtons">
								<div class="operationButton">
									<button class="buttons-blue" id="button-ok" type="submit">Ok</button>
								</div>
								<div class="operationButton">
									<button class="buttons-blue" id="button-cancel">Cancel</button>
								</div>
							</div>
							<!-- INPUT FORM Buttons -->
						</form>
						<#if childList??>
						<#if childList?has_content>
						<!-- NEXT POPUP -->
						<div class="nextPopup">
						<ul class="nextList">
							<#list childList as child>
								<li data-childId="${child.name}">${child.label}</li>
							</#list>
						</ul>
						</div>
						<!-- /NEXT POPUP -->
						</#if>
						</#if>
					<!------------------------------------ ${resource.name} Standard form END ------------------------------------------>