<!-- FORM RRIMER	-->		
			<div class="forms focused" id="formaPrimer">
				<div class="formHeaders">
					<div class="formName">Customers</div>
					<div class="headerButtons" title="Close form">
						<img src="/files/images/icons/close.png">
					</div>
				</div>
				<!-- FORM HEADER -->
				<div class="formBody">
					<div class="tableDiv">
						<div class="formToolbar">
							<div id="viewControls" class="controlsPanel">
								<button type="button" title="Switch views">
									<img class="toolbarButton" src="/files/images/icons/swich.png"/>
								</button>
								<button type="button" title="Refresh data">
									<img class="toolbarButton" src="/files/images/icons/refresh.png"/>
								</button>
							</div>
							<!-- VIEW CONTROLS -->
							<div id="navigationControls" class="controlsPanel">
								<button type="button" id="btnFirst" title="Go to the first row in table">
									<img class="toolbarButton" src="/files/images/icons/first.png"/>
								</button>
								<button type="button" id="btnPrev" title="Go to the previous row">
									<img class="toolbarButton" src="/files/images/icons/prev.png"/>
								</button>
								<button type="button" id="btnNext" title="Go to the next row">
									<img class="toolbarButton" src="/files/images/icons/next.png"/>
								</button>
								<button type="button" id="btnLast" title="Go to the last row in table">
									<img class="toolbarButton" src="/files/images/icons/last.png">
								</button>
							</div>
							<!-- NAVIGATION CONTROLS -->
							<div id="tableControls">
								<button type="button" title="Add a new row">
									<img class="toolbarButton" src="/files/images/icons/add.png"/>
								</button>
							</div>
							<!-- TABLE CONTROLS -->
						</div>
						<!-- FORM TOOLBAR -->
						<div class="tablePanel">
							<table class="mainTable">
								<thead>
								<tr>
									<th>First name</th>
									<th>Last name</th>
									<th>Address</th>
									<th>Username</th>
									<th>Title</th>
								</tr>
							</thead>
							<div class="tbodyScroll">
							<tbody>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr><tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr><tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Malkovich</td>
									<td>Craven Road 7, London UK</td>
									<td>JMalkovich</td>
									<td>Mr</td>
								</tr>
							</tbody>
							</div>
						</table>
					</div>
					<!-- TABLE PANEL -->
				</div>
				<div class="operationsDiv">
					<div class="operationButton">
						<button class="buttons-blue">Finish</button>
					</div>
					<div class="operationButton">
						<button class="buttons-blue">Create Invoice</button>
					</div>
					<div class="operationButton">
						<button class="buttons-blue">Cancel</button>
					</div>
				</div>
				<!-- OPERATION DIV -->
			</div>
			<!-- FORM BODY -->
		</div>