					<!------------------------------------STANDARD FORM------------------------------------------>
					<!-- FORM HEADER -->
					<div class="formHeaders">
						<div class="formName">${resource.label}</div>
						<div class="headerButtons" title="Close form">
							<img src="/files/images/icons/close.png">
						</div>
					</div>	
					<!-- /FORM HEADER -->
					<!--  FORM BODY -->
					<div class="formBody">
						<!--  TABLE DIV -->
						<div class="tableDiv" <#if operations??>style="width: 75%; border-right: 1px solid black;"</#if>>
							<!-- FORM TOOLBAR -->
							<div class="formToolbar">
								<div id="viewControls" class="controlsPanel">
									<button type="button" id="btnSwitch" title="Switch views" >
										<img class="toolbarButton" src="/files/images/icons/swich.png"/>
									</button>
									<button type="button" title="Refresh data">
										<img class="toolbarButton" src="/files/images/icons/refresh.png"/>
									</button>
								</div>
								<!-- VIEW CONTROLS -->
								<div id="navigationControls" class="controlsPanel">
									<button type="button" id="btnFirst" title="Go to the first row in table">
										<img class="toolbarButton" src="/files/images/icons/first.png"/>
									</button>
									<button type="button" id="btnPrev" title="Go to the previous row">
										<img class="toolbarButton" src="/files/images/icons/prev.png"/>
									</button>
									<button type="button" id="btnNext" title="Go to the next row">
										<img class="toolbarButton" src="/files/images/icons/next.png"/>
									</button>
									<button type="button" id="btnLast" title="Go to the last row in table">
										<img class="toolbarButton" src="/files/images/icons/last.png">
									</button>
								</div>
								<!-- NAVIGATION CONTROLS -->
								<div id="tableControls">
									<button type="button" title="Add a new row">
										<img class="toolbarButton" src="/files/images/icons/add.png"/>
									</button>
									<button type="button" title="Delete row">
										<img class="toolbarButton" src="/files/images/icons/delete.png"/>
									</button>
									<button type="button" title="View connected forms" id="btnNextForms">
										<img class="toolbarButton" src="/files/images/icons/next-forms.png"/>
									</button>
								</div>
								<!-- TABLE CONTROLS -->
							</div>
							<!-- /FORM TOOLBAR -->
							<!-- TABLE PANEL -->
							<div class="tablePanel">
								<#if mainFormHeaders??>
								<table class="mainTable">
									<thead>
										<tr>
											<#list mainFormHeaders as header>
												<th>${header}</th>
											</#list>
										</tr>
									</thead>
										<tbody>
											<#if entities??>
												<#if entities?has_content>
												<#list entities as entity>
													<tr>
														<#list entity.properties as prop>
															<#if prop.name == "id">
															<td style="display:none;">${prop.value}</td>
															<#else>
															<td>${prop.value}</td>
															</#if>
														</#list>
													</tr>
													</#list>
												</#if>
											<#else>
												<tr></tr>
											</#if>
										</tbody>
									</#if>
								</table>
								
							</div>
							<!-- /TABLE PANEL -->
						</div>
						<!-- /TABLE DIV -->
						<!--  OPERATIONS DIV -->
						<#if operations??>
						<div class="operationsDiv">
					
						</div>
						</#if>
						<!-- /OPERATIONS DIV -->
						<form class="inputForm" action="/add${resource.link}" name="addForm" method="post">
							<div class="formTableContainer">
								<table class="inputFormFields">
								<#list resource.attributes as attr>
								<tr>
									<td class="labelColumn">${attr.label}:</td>
									<#if attr.values??>
									<td class="inputColumn">
										<select name="attrSelectCombo${attr_index}">
										<#list attr.values as value>
											<option class="stdFormInputs" value="${value}">${value}</option>
										</#list>
										</select>
									</td>
								<#else>
									<#if attr.type == "java.lang.Boolean">
									<td class="inputColumn" style="float: left;">
										<select  name="attrSelectBool${attr.name}">
											<option value="true">YES</option>
											<option value="false">NO</option>
										</select>
									</td>
									<#elseif attr.name == "password">
									<td class="inputColumn" >
										<input class="stdFormInputs" type="password" name="attr${attr.name}Dodavanje">
									</td>
									<#elseif attr.type == "java.util.Date">
									<td class="inputColumn" >
										<input class="stdFormInputs" type="text" name="attr${attr.name}Dodavanje">
									</td>
									<#elseif attr.type?ends_with("TextArea")>
									<td class="inputColumn">
									<textarea class="stdFormInputs"  rows="4" name="attr${attr.name}Dodavanje"></textarea>
									</td>
									<#else>
									<td class="inputColumn">
										<input class="stdFormInputs" type="text" name="attr${attr.name}Dodavanje">
									</td>
									</#if>
								</#if>
								</tr>
								</#list>
								<#if childFormMap??>
								<#list childFormMap?keys as childRow>
								<tr>
									<td class="labelColumn">${childRow}:</td>
									<td class="inputColumn" style="float: left;">
										<select name="mattrSelect${childFormMap?keys?seq_index_of(childRow)}">
										<#list childFormMap[childRow]?keys as id>
											<option value="${id}">${childFormMap[childRow][id]}</option>
										</#list>
										</select>
									</td>
								</tr>
								</#list>
								</#if>
								</table>
							</div>
							<!-- INPUT FORM FIELDS -->
							<div class="inputFormButtons">
								<div class="operationButton">
									<button class="buttons-blue" id="button-ok" type="submit">Ok</button>
								</div>
								<div class="operationButton">
									<button class="buttons-blue" id="button-cancel">Cancel</button>
								</div>
							</div>
							<!-- INPUT FORM Buttons -->
						</form>
					</div>
					<!--  /FORM BODY -->
					<!-- NEXT POPUP -->
					<div class="nextPopup">
						<#if childList??>
						<#if childList?has_content>
						<ul class="nextList">
							<#list childList as child>
								<li data-childId="${child.name}">${child.label}</li>
							</#list>
						</ul>
						</#if>
						</#if>
					</div>
					<!-- /NEXT POPUP -->
					<!------------------------------------/STANDARD FORM------------------------------------------>