<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title> ${title}::Home page </title>
	<link rel="stylesheet" type="text/css" href="/files/css/style.css">
	<link rel="icon" type="image/png" href="/files/images/logo32x32.png">
	<script src="/files/js/jquery-2.0.3.min.js"> </script>
	<script src="/files/js/page.js"></script>
</head>
<body>
	<#if user??>
		<nav>
			<#include "/menu.html" parse=true>
			<!--ul.mainMenu-->
			<div id="logoutDiv">
				<a id="logoutLink" href="/">${user.username}</a>
			</div>
			<!--logoutDiv-->
		</nav>
    	<!--mainNavigation-->
    	<div id="container">
    	</div>
    	<!--container-->
	<#else>
			<p style="color:red"> You are not logged in! </p>
		</#if>
	
</body>
</html>
