<html>
	<head>
		<title> ${title} </title>
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="style.css" type="text/css" />
	</head>
	<body>
		<div id="wrapper" >
			<div id="indexcontentpane">
				<h1>Wellcome to ${title} web pages!</h1>
				<p>${description}</p>
				<#if msg??>
					<p style="color:${clr}">${msg}</p>
				</#if>
			</div>
			<div id="indexrightpane">
				<form action="/homepage" name="login" method="post">
					<table class="login">
						<thead>
							<tr>
							<th colspan="2">Login</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							</tr>
							<tr>
								<td>Username:</td>
								<td align="right"><input type="text" name="username" value="admin">				
							</tr>
							<tr>
								<td>Password:</td>
								<td align="right"><input type="password" name="password" value="12345">			
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td align="right"><input type="submit"  name="submit" class="nav" value="Prijava">
							</tr>
							<tr>
							</tr>
							<tr>
								<td colspan="2">Don't have an account? You can register <a href="/register">here</a>.</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>