<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ul id="mainMenu">
<li class="mainMenuItems">
<div class="menu">
<div class="mainMenuText">Customers</div>
<div class="arrow-down">/</div>
</div>
<ul class="L1SubMenu">
<li class="subMenuItem">Customer</li>
<li class="subMenuItem subMenuLink">Geography<div class="arrow-right">/</div>
<ul class="L2SubMenu">
<li class="subMenuItem">State</li>
<li class="subMenuItem">City</li>
<li class="subMenuItem subMenuLink">Items<div class="arrow-right">/</div>
<ul class="L2SubMenu">
<li class="subMenuItem">Foo</li>
<li class="subMenuItem">Fighters</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class="mainMenuItems">
<div class="menu">
<div class="mainMenuText">Computers</div>
<div class="arrow-down">/</div>
</div>
<ul class="L1SubMenu">
<li class="subMenuItem">Computer</li>
<li class="subMenuItem">Vendor</li>
</ul>
</li>
</ul>
