<html>
	<head>
		<title> Adaptive web application::account settings </title>
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/files/style.css" type="text/css" />
		<script type="text/javascript" src="/files/script.js">
		</script>
	</head>
	<body>
		<div id="wrapper" >
			<div id="menu">
				<#include "/menu.html" parse=true>
			</div>
			<script>highlight();</script>
			<div id="content">
				<#if user??>
					<h1>Account settings</h1>
					<p>
					<form action="/homepage" name="izmena" method="post">
						<input type="hidden" name="idIzmena" value="${user.id}">
						<table align="center">
						<tbody>
						<tr>
							<td><b>Username:</b></td>
							<td><input type="text" name="usernameIzmena" value="${user.username}"></td>
						</tr>
						<tr>
							<td><b>Password:</b></td>
							<td><input type="password" name="passwordIzmena" value="${user.password}"></td>
						</tr>
						<tr>
							<td align="right" colspan="2"><input type="submit" name="submit" value="Izmena"></td>
						</tr>
					</tbody>
					</table>
					</form>
					</p>
				<#else>
					<p> You are not logged in! </p>
				</#if>
			</div>
			<div id="footer">
				<img src="/files/images/logo.png" >
			</div>
		</div>
	</body>
</html>