<html>
	<head>
		<title> ${title}::User registration </title>
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/files/style.css" type="text/css" />
	</head>
	<body>
		<div id="wrapper" >
			<div id="content">
				<h1>New user registration</h1>
				<p>Please fill in all fields required for registration.</p>
				<p>
				<form action="/" name="register" method="post">
					<table align="center">
					<tbody>
						<tr>
							<td><b>Username:</b></td>
							<td><input type="text" name="username"></td>
						</tr>
						<tr>
							<td><b>Password:</b></td>
							<td><input type="password" name="password"></td>
						</tr>
						<tr>
							<td align="right" colspan="2"><input type="submit" name="submit" value="Dodaj"></td>
						</tr>
					</tbody>
					</table>
				</form>
				</p>
			</div>
			<div id="footer">
				<img src="/files/images/logo.png" >
			</div>
		</div>
	</body>
</html>