<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div id="menuDiv">
<div id="menuTitle">Navigation</div>
<ul class="treeview" id="treemenu1">
<li>Business entities<ul>
<li>
<a href="/resources/State">State</a>
</li>
<li>
<a href="/resources/City">City</a>
</li>
<li>
<a href="/resources/Enterprise">Enterprise</a>
</li>
<li>
<a href="/resources/Department">Department</a>
</li>
<li>
<a href="/resources/Customer">Customer</a>
</li>
<li>
<a href="/resources/Vendor">Vendor</a>
</li>
</ul>
</li>
<li>Products<ul>
<li>
<a href="/resources/Category">Category</a>
</li>
<li>
<a href="/resources/Product">Product</a>
</li>
</ul>
</li>
<li>Order management<ul>
<li>
<a href="/resources/Payment">Payment</a>
</li>
<li>
<a href="/resources/Orders">Orders</a>
</li>
<li>
<a href="/resources/OrderItem">Order Item</a>
</li>
<li>
<a href="/resources/Invoice">Invoice</a>
</li>
</ul>
</li>
<li>Price lists<ul>
<li>
<a href="/resources/PriceList">Price list</a>
</li>
<li>
<a href="/resources/PriceListItem">Price list item</a>
</li>
</ul>
</li>
</ul>
<script type="text/javascript">ddtreemenu.createTree("treemenu1", true)</script>
</div>
